# Ignore virtual environment folder
venv/
ENV/
env/
.venv/
.pyenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# System files
.DS_Store
Thumbs.db