#header{
    width: 100%;
    padding: 10%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#header .content{
    flex: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
#header h1{
    font-size: 5.1rem;
    font-weight: 400;
    line-height: 90px;
    margin-bottom: 20px;
}
#header p{
    color: #888383;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
}
#header button{
    padding: 13px 30px;
    border: 0;
    background-color: rgb(147,51,234);
    transition: background-color 0.3s ease-in-out;
}

#header button a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#header button:hover{
    background-color: #f00;
}

#header img{
    flex: 50%;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)) 1;
    transition: transform 1s ease-in-out;
}

#header img:hover{
    transform: translateX(30px);
}

.rotate {
    color: rgb(147, 51, 234);
    border: 1px solid rgb(183, 82, 233);
    padding: 8px 20px;
    transform: rotate(340deg);
    margin-bottom: 20px;
    width: fit-content;
}

#about {
    width: 100%;
    padding: 5% 10%;
    background-color: rgb(238, 237, 173);
}

#about h2 {
    font-size: 3rem;
    margin: 10px;
}

#about .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#about .services .service {
    margin: 15px;
    border: 2px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    transition: box-shadow 0.3s ease-in-out;
}

#about .services .service:hover {
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
}

#about .services .service h3 {
    font-size: 27px;
    font-weight: 400;
}

#about .services .service p {
    color: var(--secondary-color);
    line-height: 30px;
}

#about .services .service .icon {
    background: yellow;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .services .service .icon i {
    font-size: 20px;
}

#contact {
    width: 100%;
    padding: 5% 10%;
    background: rgb(235, 219, 211);
}

#contact h2 {
    font-size: 3rem;
}

#contact .contact-details {
    display: flex;
    gap: 40px;
}

#contact form {
    border: 2px solid black;
    flex: 50%;
    padding: 30px;
    margin: 20px 0;
    background-color: white;
}

#contact .details {
    flex: 50%;
}

#contact .content-details h3 {
    font-size: 2rem;
    font-weight: bolder;
}

#contact .content-details h6 {
    font-size: 20px;
    columns: var(--secondary-color);
    margin-bottom: 20px;
}

#contact form input,
textarea {
    width: 100%;
    padding: 10px;
    width: 10px 0;
    border: 2px solid black;
}

#contact form .name-email {
    display: flex;
    gap: 20px;
    width: 100%;
}

#contact form .name-box {
    flex: 50%;
}

#contact form .Email-box {
    flex: 50%;
}

#contact form label {
    display: block;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
}

#contact form button {
    margin-top: 20px;
    background: yellow;
    border: none;
    padding: 13px 20px;
    transition: all 0.3s ease-in-out;
}

#contact form button a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.send-edit a{
    color: #000;
}

#contact form button:hover {
    background: #000;
}

#contact form button:hover a{
    color: #fff;
}

#contact .details {
    flex: 50%;
    margin: 20px 0;
}

#contact .detail-box {
    display: flex;
    margin: 30px;
    align-items: flex-start;
    gap: 20px;
}

#contact .detail-box .box {
    padding-top: 30px;
    width: 100%;
    border-top: 2px solid #000;
}

#contact .detail-box .box:nth-child(1) {
    border-top: none !important;
}

#contact .detail-box .icon {
    background: var(--third-color);
    padding: 15px 16px;
    border-radius: 50%;
}

#contact .detail-box h5 {
    font-size: 18px;
}

#contact .detail-box h4 {
    font-size: 23px;
}
